*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

// Variables
// Colors
    $Color-Black: #141414;
    $Color-Black-Light: #141414d1;
    $Color-Red: #e50914;
    $Color-White: #e5e5e5;
    $Color-Link: #007FFF;
    $Color-Black2: #181818;
    $Color-White-Only: #ffffff;
// Radius
    $Radius-Big: 30px;
    $Radius-Cirkle:50%;
    $Radius-Small:10px;

// Mixin
@mixin standartFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

@mixin FlexColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin FlexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@mixin OtherPageHeddingH2{
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
    text-shadow: 0 0 30px $Color-Black;
}

@mixin Underline{
    border-bottom: 4px solid #e50914;
    border-radius: 5px;
    transition: all 0.2s;
    text-shadow: 0 0 10px #e50914;
}
@mixin RowPage {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

@mixin SearchInput(){
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 25px;
    padding: 5px 15px;
    outline: none;
    border-radius: $Radius-Small;
    border: 1px solid $Color-Black;
    max-width: 400px;
    width: 100%
}
/***************************** Wallpapers page */
body{
    background-color: $Color-White;
}
.wallpapersHedding{
    @include OtherPageHeddingH2();
}
.wallpapersContainer{
    @include RowPage();
    padding-top: 40px;
    @include standartFlex();
    flex-wrap: wrap;

    .oneImage{
        width: 500px;
        height: 300px;
        margin: 10px;
        cursor: pointer;
        img{

            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: $Radius-Small;
        }
    }
}

/************************** Books page*/

.booksHedding{
    @include OtherPageHeddingH2();
}

.container-book{
    @include RowPage();
    margin-top: 60px;
    @include standartFlex();
    flex-wrap: wrap;

    .oneBook{
        box-shadow: 0 0 10px $Color-Black-Light;
        border-radius: $Radius-Big;
        width: 300px;
        height: 550px;
        margin: 15px;
        overflow: hidden;
        background-color: $Color-Black;
        transition: all 0.3s;

        &:hover{
            transform: scale(1.05);
        }
        
        img{
            border-top-left-radius: $Radius-Big;
            border-top-right-radius: $Radius-Big;
            width: 300px;
            height: 450px;
            object-fit: cover;
            

        }

        h3{
            text-align: center;
            height: 50px;
            color: $Color-White;
            margin-top: 10px;
        }

        a{
            display: block;
            text-align: center;
            color: $Color-Link;
            padding-top: 8px;
            
            height: 100%;

            
            &:hover{
                color: $Color-Black;
                background-color: $Color-White;
                font-weight: 900;
            }
        }
    }
}

/************************** One Book page*/

.containerPart{
    box-shadow: 0 0 10px $Color-Black;
    max-width: 800px;
    width: 100%;
    margin:  0 auto;
    margin-top: 60px;
    background-color: $Color-Black;
    border-radius: $Radius-Small;



    .box{
        display: flex;
        

        img{
            height: 500px;
            width: 350px;
            border-top-left-radius: $Radius-Small;;

        }
        .details{
            margin-top: 60px;
            width: 100%;
            color: $Color-White;

            
            h3{
                @include OtherPageHeddingH2();
                font-size: 30px;
                margin-bottom: 60px;
            }

            p, a{
                padding-left: 20px;
                margin: 10px;
            }

            a{
                text-decoration: underline;
                color: $Color-Link;
            }

            
        }
    }
    .description{
        color: $Color-White;
        padding: 20px;
    }
}

.part{
   min-height: 83vh

}

/************************** Characters */

.container-character{
    @include RowPage();
    min-height: 100vh;
    .box-input{
        text-align: center;
        
        
    
        .search-character{
            @include SearchInput();
        }
    
    }

    .character-list{
        // margin-top: 60px;
        @include standartFlex();
        flex-wrap: wrap;
    
    
    }
    .character-list .hide{
        display: none;
    }
    
    .card-character{
        background-color: $Color-Black;
        box-shadow: 0 0 5px $Color-Black;
        margin: 5px;
        width: 300px;
        height: 400px;
    
        img{
            width: 300px;
            height: 350px;
            object-fit: contain;
            
        }
        p{
            border-top: 1px solid $Color-Red;
            line-height: 40px;
            color: $Color-White;
            text-align: center;
            font-size: 22px;
            letter-spacing: 1px;
            text-shadow: 0 0 10px $Color-Red;
        }
    }
}

/************************** Výbava */
.container-vybava{
    min-height: 90vh;
   

    .searchVybava{
        height: 100px;
        @include standartFlex();
        flex-wrap: wrap;
        background-color: $Color-Black-Light;

        .button-value{
            cursor: pointer;
            margin: 10px;
            padding: 5px 10px;
            font-size: 20px;
            border-radius: $Radius-Small;
            border: none;
            background-color: $Color-Black;
            color: $Color-White;
            letter-spacing: 2px

        }

        .activeBtn{
            @include Underline();
        }
    }

    .list-vybavy{
        @include RowPage();
        @include standartFlex();
        flex-wrap: wrap;
        margin-top: 20px;
        .card-vybava{
            box-shadow: 0 0 10px $Color-Black;
            margin: 10px;
            width: 250px;
            height: 250px;
    
            img{
                width: 250px;
                height: 200px;
                object-fit: contain;
    
            }
    
            h3{
                line-height: 50px;
                text-align: center;
            }
        }
    }
}

.hide-card-vybava{
    display: none;
}

/************************** Monster */
.monster-container{
    @include RowPage();
    min-height: 90vh;

    .searchBoxMonster{
        text-align: center;


        .monsterInput{
            @include SearchInput();
        }
    }
    .optionsSearch{
        text-align: center;
    }

    .allmonster{
         @include standartFlex();
         flex-wrap: wrap;
         margin-top: 60px;

         .card-monster{
            margin: 10px;
            width: 350px;
            height: 400px;
            font-size: 22px;
            color: $Color-White;
            background-color: $Color-Black-Light;
            border-radius: $Radius-Big;
            text-shadow: 0 0 10px $Color-Black;
            
            h3{
                height: 50px;
                line-height: 50px;
                text-align: center;
                text-decoration: underline;
            }

            img{
                width: 350px;
                height: 350px;
                object-fit: contain;
            }
         }
    }

    
}

// Page Game


// Game container
.containerGame{
    background-color: $Color-Black-Light;
    h1{
        text-align: center;
        color: $Color-White;
        font-size: 60px;
        padding: 30px;


    }
    .containerGameSection{
        @include RowPage();
        @include standartFlex();
        margin: 0 auto;
        padding: 20px;

        .gameImages{
            width: 50%;
            text-align: center;
            img{
                max-width: 600px;
                width: 100%;
                transform: rotate(-2deg);
                transition: 0.8s;
                border-radius: $Radius-Small;
                animation: I1 2s;
           

                &:hover{
                    scale: 1.1;
                }
            }
        }
        .descriptionGame{
            width: 50%;
            h2{
                color: $Color-White;
                text-align: center;
                margin: 10px;
                @include Underline();
                padding-bottom: 5px;
                font-size: 35px;
            }

            p{
                color: $Color-White;
                margin: 20px;
                font-size: 18px;
   
            }
        }
    }
}


// Page Serials all
.body-serial{
    background-color: $Color-Black2;
    min-height: 100vh;
}

.serial-container{
    background-color: $Color-Black2;
    color: $Color-White;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px

}

.container-description{
    @include RowPage();
    max-width: 1000px;
    @include standartFlex();
    justify-content: space-around;
    box-shadow: 0 0 10px $Color-White;
    padding: 10px;
    margin: 20px auto;
 

    


    .hedding-serial{
        text-align: center;
        width: 50%;
   
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
 

        
        h2{
            color: $Color-White-Only;
            padding: 30px;
            font-size: 30px;
            text-decoration: underline 2px;
       
 
            
        }

        .ornament{
            

            img{
                width: 100%;
                animation: ornament 2s infinite  alternate-reverse;
            }
        }
    }
    .serial-description{
        padding: 10px;
        width: 50%;
        margin: 10px;
        h2{
            color: $Color-White-Only;
            margin: 10px 0;
            border-bottom: 1px solid $Color-White;

        }
        p{
            padding-left: 10px;
            text-align: justify;
        }
    }
}

.hedding-dily{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;

}

// Jednotlivé stránky
.serial-parts{
    @include RowPage();
    @include standartFlex();
    flex-wrap: wrap;



    .card-serial{
        max-width: 400px;
        width: 100%;
        height: 400px;

        margin: 10px;
   

        img{
            object-fit: cover;
            height: 250px;
            width: 100%;

        }
        .small-hedding{
            @include FlexSpaceBetween();
            padding: 9px;
        
            h2{
                color: $Color-White-Only;
            }

        }
        p{
            padding: 9px;
        }
    }
}

// Index page
.index-main{
    background-color: $Color-Black2;
}

.index-container{
    @include RowPage();
    max-width: 1200px;
    padding-top: 60px;

    .index-container{
        text-align: center;
        h2{
            @include OtherPageHeddingH2();
            color: $Color-White-Only;
            


        }
        img{
            max-width: 700px;
            width: 100%;
            margin: 30px auto;
            animation: I1 2s;
        }
        p{
            color: $Color-White-Only;
            font-size: 20px;
            letter-spacing: 1px;
            word-spacing: 8px;
            font-style: italic;
            text-align: justify;
            padding: 10px;
            animation: A1 2s;
            

        }

    }


    
}

// Footer
footer{
    background-color: $Color-Black;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: $Color-White;
}


























// scroll 
.topArrow{
    font-size: 20px;
    border: 3px solid red;
    position: absolute;
    right: 15px;
    bottom: 15px;
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: $Radius-Cirkle;
    display: none;



}
// Animation

@keyframes A1 {
    0% {
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes I1{
    0%{
        transform: scale(0.0);
    }

    100%{
        transform: scale(1.0);
    }
}

@keyframes ornament{
    0%{
        transform: rotate(-15deg) scale(0.55) ;
   
    }

    100%{
        transform: rotate(15deg) scale(1.0) ;
 
       
    }
}





// Media Query
@media only screen and (max-width: 1100px) {

 // Game container
.containerGame{

    .containerGameSection{

        flex-direction: column;

        .gameImages{
            width: 100%;


            }
        }
        .descriptionGame{
            width: 100%;
            h2{
  
            }

            p{
 
            }
        }
    }

 



// Page Serials all

.container-description{
    flex-direction: column;

    .hedding-serial{
        width: 100%;
    }
    .serial-description{
        width: 100%;

   

    }
}

.ornament{
  
    

    img{
        height: 300px;
  
    }
}
}

// Arrow funkce

html{
    scroll-behavior: smooth;
}

.to-top{
    background-color: $Color-White;
    border: 2px solid $Color-Black2;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: $Color-Red;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;

    img{
        width: 100%;
        padding: 6px;
    }
    

}

.to-top.active{
    bottom:32px;
    pointer-events:auto;
    opacity: 1;
    cursor: pointer;

}



